* {
  box-sizing: border-box;
}

body {
  margin: none;
}

table.game-board {
  text-align: center;
  border-collapse: collapse;
}

table.game-board td {
  border: 1px solid black;
}

table.game-board div {
  width: 35px;
  height: 35px;
}
